/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.desktop-menu {
		display: visible;
	}

	.mobile-menu {
		display: none;
	}
	
	.main-header,
	.nav,
	.row {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}

	.col {
		flex: 1;
	}
	
	.main-header,
	.row {
		width: 100%;
		margin: 0 auto;
	}
	
	.row {
		max-width: 1150px;
		flex: 1
	}
	
}

@media (min-width: 1025px) {

	.desktop-nav {
		align-items: right;
	}

	.main-header {
		flex-direction: row;
		justify-content: space-between;
		position: fixed;
		top: 0;		
	}

}

