/* =========================
Base Element Styles
=================================== */

.main-header {
    background: green;
    padding: 1em 0;
}

.main-content {
    width: 80%;
    margin: 0 auto;
}

.main-footer {
    text-align: center;
    background: green;
}