/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: Verdana, sans-serif;
	line-height: 1.6;
	color: #000;
  margin: 0;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

a {
	text-decoration: none;
}

h1, h2 {
    text-align: center;
}

th {
    padding: 20px 60px;
    width: 33%;
}


/* ================================= 
  Base Layout Styles
==================================== */

.main-header {
  background: green;
	padding-top: .2em;
  padding-bottom: .2em;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.title {
	font-size: 1.35em;
  margin: 0;
}
.nav {
	margin-top: 5px;
}
.title a,
.nav a {
	text-align: center;
	display: block;
  padding: 10px 15px;
  color: #fff;
}
.nav a {
	font-size: .95em;
	color: #fff;
	text-transform: uppercase;
}
.nav a:hover {
  text-decoration: underline;
}

.nav-anchor{
  display: block;
  height: 85px;
  margin-top: -85px;
  visibility: hidden;
}

.hero-image {
    max-width: 100%;
}

.hero-overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  margin: 0;
  font-size: 15px;
}

.hero {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(Horse-Racing.jpg);
  background-size: cover;
  height: 30vh;
}

.main-content {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;    
}

.main-footer {
    text-align: center;
    background: green;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 100%;
    color: #fff;
}

.img {
    max-width: 100%;
    height: auto;
}

.row,
.col {
    text-align: center;
}

.column2 p:nth-child(odd){
    background: lightgray;
}

.results-table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    width: auto;
}

.expander {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .expander:hover {
    background-color: #ccc;
  }
  
  .expanded-content {
    padding: 0 10px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .expander:after {
    content: '\25BC';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
.active:after {
  content: "\25B2";
  }

.desktop-menu {
    display: none;
}

/* Style the navigation menu */
.mobile-nav,
.main-header {
    overflow: hidden;
    background-color: green;
    text-align: center;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .main-header #menuLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .main-header a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Style the hamburger menu */
  .main-header a.icon {
    background: green;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }


  .back-to-top {
    position: absolute;
    right: 0.25rem;
    bottom: -5em;
    width: 3em;
  }
  
  .topButton {
    position: fixed;
    pointer-events: all;
    top: calc(100vh - 5rem);
    text-decoration: none;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.25rem;
    display: none;
  }